[submodule "Engine/external/blake3"]
	path = Engine/external/blake3
	url = https://github.com/BLAKE3-team/BLAKE3.git
[submodule "Engine/external/eigen"]
	path = Engine/external/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "Engine/external/hnswlib"]
	path = Engine/external/hnswlib
	url = https://github.com/nmslib/hnswlib.git
[submodule "Engine/external/spectra"]
	path = Engine/external/spectra
	url = https://github.com/yixuan/spectra.git
[submodule "Engine/external/json"]
	path = Engine/external/json
	url = https://github.com/nlohmann/json.git
[submodule "Engine/external/hilbert"]
	path = Engine/external/hilbert
	url = https://github.com/spectral3d/hilbert_hpp.git
[submodule "Engine/external/postgis"]
	path = Engine/external/postgis
	url = https://github.com/postgis/postgis.git
[submodule "Engine/external/tree-sitter"]
	path = Engine/external/tree-sitter
	url = https://github.com/tree-sitter/tree-sitter.git
