<div class="nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="atoms">
                <span class="bi bi-atom" aria-hidden="true"></span> Atoms
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tensors">
                <span class="bi bi-grid-3x3-gap-fill" aria-hidden="true"></span> Tensors
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ingestion">
                <span class="bi bi-upload" aria-hidden="true"></span> Ingestion
            </NavLink>
        </div>
    </nav>
</div>
